@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --widget: #1A1A1A;
  --accent: #2A2A2A;
  --primary: #FFFFFF;
  --secondary: #888888;
}

body {
  background: var(--background);
  color: var(--primary);
}

#__next {
  min-height: 100vh;
}